body {
    background-color: #eee;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-size: 0.75rem;
}

html {
    min-height: 100%;
    font-size: 14px;
}

.minimap {
    border-left: 1px solid black;
}

.monaco-editor .view-line {
    font-weight: bold;
    .mtk1 {
        color: orange;
    }
}