body {
    background-color: #eee;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

html {
    min-height: 100%;
}

.minimap {
    box-shadow: -3px 1px 4px 0px #000;
}