body {
    background-color: #eee;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

html {
    min-height: 100%;
}

.minimap {
    border-left:1px solid black;
}
.monaco-editor .view-line{
  font-weight:bold;
  .mtk1{
      color: orange;
  }
 
}
